<%- contentFor('title') %>
YelpCamp - Login
<%- contentFor('body') %>
<div class="row mt-5">
    <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4">
        <h1>Login</h1>
        <form class="form" action="/login" method="POST" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" class="form-control" name="username" autofocus required>
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" name="password" required>
            </div>

            <button type="submit" class="my-2 me-2 btn btn-info">Login</button>
            <a href="/register"><button type="button" class="my-2 btn btn-outline-secondary">Not yet with us? Register</button></a>

        </form>
    </div>
</div>
<script src="/js/formValidate.js"></script>