<% if (errorFlash && errorFlash.length) { %>
<div class="alert alert-danger alert-dismissible fade show my-2" role="alert">
    <%= errorFlash %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>

<% if (successFlash && successFlash.length) { %>
<div class="alert alert-success alert-dismissible fade show my-2" role="alert">
    <%= successFlash %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>