<footer class="footer text-secondary bg-primary py-2 mt-auto">
    <div class="container">
        <span>&copy; 2024 YelpCamp | Created by <a class="text-reset text-underline" href="https://github.com/heIgee" target="_blank">helgee</a> | Pet Project</span>
    </div>
</footer>