<footer class="footer text-secondary bg-primary py-2 mt-auto">
    <div class="container">
        <span>&copy; <a class="text-reset text-underline" href="https://github.com/heIgee">helgee</a> / YelpCamp 2024</span>
    </div>
</footer>