<nav class="navbar navbar-dark navbar-expand-lg bg-primary sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">YelpCamp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <a class="nav-link nav-item" aria-current="page" href="/">Home</a>
                <a class="nav-link nav-item" href="/campgrounds">Campgrounds</a>
                <a class="nav-link nav-item" href="/campgrounds/new">New</a>
            </ul>
        </div>
    </div>
    <script>
        const navLinks = document.querySelectorAll('.nav-link');
        const currentUrl = window.location.href;

        navLinks.forEach(link => {
            if (link.href === currentUrl) {
                link.classList.add('active');
            }
        });
    </script>
</nav>