body {
    background-color: #f7f6f5;
}

main {
    /* account for fixed navbar height */
    margin-top: 4.5rem;
}

.row {
    /* prevent horizontal scrollbar  */
    margin-left: 0;
    margin-right: 0;
}

.yelp-camp-thumbnail {
    height: 6rem;
    width: 8rem;
    margin: 0 0.6rem 0.6rem 0;
    object-fit: cover;
    border-radius: 0.4rem;
}

#clusterMap {
    height: 45rem;
    max-height: 75vh;
}